# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules
dist
build
bundle.zip

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea

#JWT-key
.env

# Some JSON files
vk-hosting-config.json
